[Unit]
Description=QuesadaLab - Daily Nextcloud USB Pull Timer

[Timer]
OnCalendar=*-*-* 04:00:00
Persistent=true
AccuracySec=5min
Unit=pull-nextcloud-backups.service

[Install]
WantedBy=timers.target
